In [1]:
# 1. Declare a float value and store it in a variable.
# Check the type and print the id of the same.

In [2]:
a = 10.1
print(type(a))
print(id(a))

<class 'float'>
2437610984272

In [3]:
#2.  Arithmetic Operations on float
# Take two different float values.
# Store them in two different variables.
# Do below operations on them:-
#  Find sum of both numbers
#  Find difference between them
#  Find the product of both numbers.
#  Find value after dividing first num with second number
#  Find the remainder after dividing first number with second number
#  Find the quotient after dividing first number with second number
#  Find the result of the first num to the power of the second number.

In [4]:
a = 20.1
b = 10.1
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

30.200000000000003
10.000000000000002
203.01000000000002
1.9900990099009903
10.000000000000002
1.0
14530487324699.363

In [5]:
#3.  Comparison Operators on float
# Take two different float values.
# Store them in two different variables.
# Do below operations on them:-
#  Compare these two numbers with below operator:-
#  Greater than, '>'
#  Smaller than, '<'
#  Greater than or equal to, '>='
#  Less than or equal to, '<='
# Observe their output(return type should be boolean)

In [6]:
a = 20.1
b = 10.1
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

In [7]:
# 4. Equality Operator
# Take two different float values.
# Store them in two different variables.
# Equate them using equality operators (==, !=)
# Observe the output(return type should be boolean)

In [8]:
a = 20.1
b = 10.1
print(a==b)
print(a!=b)

False
True

In [10]:
# 5. Logical operators
# Observe the output of below code
# Cross check the output manually
# print(10.20 and 20.30) #both are true and second value taken
# >Output is 20.3
# print(0.0 and 20.30) #First is false so first value
# taken->Output is 0.0
# print(20.30 and 0.0) #Goes to till second and second value is
# false so second is taken>Output is 0.0
# print(0.0 and 0.0) #First is false so first value is
# taken->Output is 0.0
# print(10.20 or 20.30) #First is True so first value is
# taken>Output is 10.2
# print(0.0 or 20.30) #Goes to till second and second is true
# second value is taken->Output is 20.3
# print(20.30 or 0.0) #First is True so first value is
# taken->Output is 20.3
# print(0.0 or 0.0) #Goes to till second and second is also
# false and second value is taken>Output is 0.0
# print(not 10.20) #-Not of true is false->Output is False
# print(not 0.0) #Not of false is True>Output is True

In [11]:
print(10.20 and 20.30) #both are true and second value taken

20.3

In [12]:
print(0.0 and 20.30) #First is false so first value

0.0

In [14]:
print(20.30 and 0.0) #Goes to till second and second value is

0.0

In [15]:
print(0.0 and 0.0) #First is false so first value is

0.0

In [16]:
print(10.20 or 20.30) #First is True so first value is

10.2

In [17]:
print(0.0 or 20.30) #Goes to till second and second is true

20.3

In [18]:
print(20.30 or 0.0) #First is True so first value is

20.3

In [19]:
print(0.0 or 0.0) #Goes to till second and second is also

0.0

In [20]:
print(not 10.20) #-Not of true is false->Output is False

False

In [21]:
print(not 0.0) #Not of false is True>Output is True

True

In [22]:
# 6. What is the output of expression inside print statement. Cross check
# before running the program.
# a = 10.20
# b - 10.20
# print(a is b) #True or False? True 10.20<256
# print(a is not b) #True or False? False
# Why the Id of float values are different when the same value is
# assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable
# having float i.e. a=c then both a and c's Id are same

In [25]:
a = 10.20
b = 10.20
print(a is b) #False
print(a is not b) #True

False
True

In [28]:
#the issue is that the compiler builds a few useful integer constants as singletons, 
#(from -1 to 100 or so). The rationale is that these numbers are used so frequently 
#that it makes no sense to dynamically allocate them each time they are needed, they are simply reused.
#But that constant singleton optimization is not useful for float values, 
#other than maybe 0.0, there are too many of them! So each time a new float value is needed it is allocated, 
#and it gets a different id.

In [27]:
c = a
print (id(a))
print (id(c))
print(a is c)

2437611432752
2437611432752
True

In [29]:
# 7. Bitwise operation is not applicable between instances of float.
# Why the Id of float values are different when the same value is
# assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable
# having float i.e. a=c then both a and c's Id are same
# Object reusability concept is not applicable on float values.

In [30]:
## Explained Above refer details under Q6.

In [31]:
# 8. Membership operation
# in, not in are two membership operators and it returns boolean value
# print('2.7' in 'Python2.7.8') #True
# print(10.20 in [10,10.20,10+20j,'Python']) #True
# print(10.20 in (10,10.20,10+20j,'Python')) # True
# print(20.30 in {1,20.30,30+40j}) # True
# print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
# print(10 in range(20)) # True

In [32]:
print('2.7' in 'Python2.7.8') #True

True

In [33]:
print(10.20 in [10,10.20,10+20j,'Python']) #True

True

In [34]:
print(10.20 in (10,10.20,10+20j,'Python')) # True

True

In [35]:
print(20.30 in {1,20.30,30+40j}) # True

True

In [36]:
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True

True

In [37]:
print(10 in range(20)) # True

True