In [1]:
#Q1. Declare a string and store it in a variable. 
#Check the type and print the id of the same.

In [9]:
#REPLY Q1
a = "abcdefghijklmnopqrstuvwxyz"
print(type(a))
print(id(a))

<class 'str'>
2019941191888

In [ ]:
##################################################################

In [6]:
# # Q2. Which are valid/invalid strings
# 1. 'This is Python class'
# valid/invalid

# 2. "This is Python class"
# valid/invalid

# 3. '''This is Python class'''
# valid/invalid

# 4. """This is Python class"""
# valid/invalid

# 5. 'This is Python's class'
# valid/invalid

# 6. "Learnbay provides "Java", "Python" classes"
# valid/invalid

# 7. "Learnbay provides 'Java', 'Python' classes"
# valid/invalid

# 8. "This is Python's class"
# valid/invalid

# 9. """Learnbay provides "Java", "Python" classes"""
# valid/invalid

# 10. '''Learnbay provides "Java", "Python" classes'''
# valid/invalid   #

# 11. '''Learnbay provides
# "Java", "Python" 
# classes'''
# valid/invalid

# 12. 'This is
# Python 
# class'
# valid/invalid

In [8]:
# #  REPLY Q2.

# 1. 'This is Python class'
# valid

# 2. "This is Python class"
# valid

# 3. '''This is Python class'''
# valid

# 4. """This is Python class"""
# valid

# 5. 'This is Python's class'
# invalid

# 6. "Learnbay provides "Java", "Python" classes"
# invalid

# 7. "Learnbay provides 'Java', 'Python' classes"
# valid

# 8. "This is Python's class"
# valid

# 9. """Learnbay provides "Java", "Python" classes"""
# valid

# 10. '''Learnbay provides "Java", "Python" classes'''
# valid

# 11. '''Learnbay provides
# "Java", "Python" 
# classes'''
# valid

# 12. 'This is
# Python 
# class'
# invalid

In [ ]:
####################################################################################

In [10]:
# Q3. 
#Write the code to get the output mentioned below print statement
# my_str = "Although that way may not be obvious at first unless you're Dutch."
# my_str1 = "Although that way may not be obvious at first unless you're Dutch."

# print()
# #output:- The length of my_str is 66

# print()
# #output:- id of my_str and my_str1 is same? - True

# print()
# #output:- Type of my_str is: str

In [26]:
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print(f'The lenght of my_str is {len(my_str)}')
print(f'id of my_str and my_str1 is same? - {id(my_str) == id(my_str1)}')
print(f'Type of my_str is: {type(my_str)}')

The lenght of my_str is 66
id of my_str and my_str1 is same? - False
Type of my_str is: <class 'str'>

In [ ]:
#######################################################

In [28]:
# Q4.
# #Indexing
# my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
# #Write the code to get the output,instructions are mentioned below print statement. use indexing

# print()
# #output:- The first character in my_str is: A
# #Note:- Use positive indexing

# print()
# #output:- The first character in my_str is: h
# #Note:- Use len() function.

# print()
# #output:- The character at index 10 in my_str is: ' '
# #Note:- Use positive indexing

# print()
# #output:- The last character in my_str is: h
# #Note:- Use negative indexing.

# print()
# #output:- The last character in my_str is: h
# #Note:- Use len() function.

# print()
# #output:- The character in my_str is: 8
# #Note:- Use positive index

In [1]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
print(f'The first character in my_str is: {my_str[0]}')
print(f'The first character in my_str is: {my_str[len(my_str)-len(my_str)]}') # To get first charachter indexed at 0 - Incorrect value in Question
print(f"The character at index 10 in my_str is:  '{my_str[10]}'")
print(f'The last character in my_str is: {my_str[-1]}')
print(f'The last character in my_str is: {my_str[len(my_str)-1]}') # In Question its a repeatation hence point 2 is modified
print(set(my_str))
print(f'The character in my_str is: {my_str[9]}') #Appears 9th is Missing in the question to get "8" - as you can see unique character are more than 8

The first character in my_str is: A
The first character in my_str is: A
The character at index 10 in my_str is:  ' '
The last character in my_str is: h
The last character in my_str is: h
{'i', 'm', 'f', 'e', 'D', 'h', 'y', '8', "'", ' ', 's', 'u', 'l', 'o', 'b', 'r', 'g', 'A', 'v', 'w', 'c', 't', 'a', 'n'}
The character in my_str is: 8

In [ ]:
###############################################################################

In [108]:
#Q5.
# #Slicing
# my_str = "Although that way may not be obvious at first unless you're Dutch."
# #Write the code to get the output,instructions are mentioned below print statement. use slicing
# print()
# #output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


# print()
# #output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


# print()
# #output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


# print()
# #output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


# print()
# #output:- You have sliced:   .with using begin and end using postive values and step as negative values.
# #Slicing command should print empty string.


# print()
# #output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


# print()
# #output:- You have sliced: Ahgttam tebo  r lsorDc


# print()
# #output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


# print()
# #output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


# print()
# #output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


# print()
# #output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


# print(my_str[10:17:-1])
# #What will be the output?


# print()
# #output:- You have sliced: yaw ta, Using begin, end and step.

# print()
# #output:- You have sliced: ess you. Using begin, end and step.

In [115]:
# REPLY Q5
my_str = "Although that way may not be obvious at first unless you're Dutch."

In [116]:
print(f'You have sliced: {my_str[::]}')
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [117]:
print(f'You have sliced: {my_str[0::]}')
# output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.
# with begin as 0 end using len and without step

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [122]:
print(f'You have sliced: {my_str[::1]}') # SyntaxError: invalid syntax
# output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.
# without begin and end but using step

You have sliced: Although that way may not be obvious at first unless you're Dutch.

In [127]:
print(f'You have sliced: {my_str[1:25:-1]}')
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.

You have sliced:

In [128]:
print(f'You have sliced: {my_str[::2]}')
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth

You have sliced: Atog htwymyntb biu tfrtuls o'eDth

In [129]:
print(f'You have sliced: {my_str[::3]}')
#output:- You have sliced: Ahgttam tebo  r lsorDc

You have sliced: Ahgttam tebo  r lsorDc

In [130]:
print(f'You have sliced: {my_str[::-1]}')
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step

You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

In [134]:
print(f'You have sliced: {my_str[::-2]}')
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step

You have sliced: .cu ruysen si asovoe o a a athuhl

In [135]:
print(f'You have sliced: {my_str[-1:0:-2]}')
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.

You have sliced: .cu ruysen si asovoe o a a athuhl

In [136]:
print(my_str[10:17:-1]) # No Out Put
#What will be the output?

In [139]:
print(f'You have sliced: {my_str[16:10:-1]}')
#output:- You have sliced: yaw ta, Using begin, end and step.

You have sliced: yaw ta

In [2]:
print(f'You have sliced: {my_str[-17:-10:1]}')
#output:- You have sliced: ess you. Using begin, end and step.

You have sliced: less yo

In [ ]:
#######################################################################

In [143]:
# Q7.
# #Basic operation on string
# str1 = 'Learnbay'
# str2 = 'Python'

# #Write the code to get the output,instructions are mentioned below.
# #Output is: Learnbay Python

# #Error: TypeError: can only concatenate str (not "int") to str

# #Error: TypeError: can only concatenate str (not "float") to str

# #Find below Output
# #Output is: LearnbayLearnbayLearnbay

# #Error: TypeError: can't multiply sequence by non-int of type 'float'

# #Error: TypeError: can't multiply sequence by non-int of type 'str'

In [149]:
## REPLY Q7
str1 = 'Learnbay'
str2 = 'Python'

In [150]:
print(str1 + " " + str2)
#Output is: Learnbay Python

Learnbay Python

In [152]:
#Error: TypeError: can only concatenate str (not "int") to str
print(str1 + " " + 10)

TypeError: can only concatenate str (not "int") to str

In [153]:
#Error: TypeError: can only concatenate str (not "float") to str
print(str1 + " " + 10.10)

TypeError: can only concatenate str (not "float") to str

In [154]:
#Output is: LearnbayLearnbayLearnbay
print(str1*3)

LearnbayLearnbayLearnbay

In [156]:
#Error: TypeError: can't multiply sequence by non-int of type 'float'
print(str1*3.10)

TypeError: can't multiply sequence by non-int of type 'float'

In [3]:
#Error: TypeError: can't multiply sequence by non-int of type 'str'
print(str1*'ABC')

NameError: name 'str1' is not defined

In [ ]:
######################################################################

In [158]:
# Q8
# #Find below Output
# str1 = 'Python'
# str2 = 'Python'
# str3 = 'Python$'
# str4 = 'Python$'

# #print True by using identity operator between str1 and str2

# #print False by using identity operator between str1 and str3

# #print False by using identity operator between str4 and str3

# #Check if P is available in str1 and print True by using membership operator

# #Check if $ is available in str3 and print True by using membership operator

# #Check if N is available in str3 and print False by using membership operator

In [5]:
# REPLY Q8
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

In [6]:
#print True by using identity operator between str1 and str2
print(id(str1) == id(str2))

True

In [7]:
#print False by using identity operator between str1 and str3
print(id(str1) == id(str3))

False

In [8]:
#print False by using identity operator between str4 and str3
print(id(str4) == id(str3))

False

In [9]:
#Check if P is available in str1 and print True by using membership operator
print('P' in str1)

True

In [10]:
#Check if $ is available in str3 and print True by using membership operator
print('$' in str3)

True

In [11]:
#Check if N is available in str3 and print False by using membership operator
print('N' in str3)

False

In [ ]:
#################################################################################################

In [171]:
# Q9
# #Complete the below code
# str1 = 'This is Python class'
# #write the code to replace 'Python' with 'Java' and you should get below error.
# #TypeError: 'str' object does not support item assignment.

In [178]:
## REPLY Q9
str1 = 'This is Python class'
print(str1.replace('Python', 'Java'))
str1[1] = 10

This is Java class

TypeError: 'str' object does not support item assignment

In [ ]:
##############################################################

In [179]:
#Q10
# str1 = 'A'
# str2 = 'A'
# #Compare str1 and str2 and print True using comparison operator

# #Compare str1 and str2 and print True using equality operator

# #Compare str1 and str2 and print False using equality operator

# #Compare str1 and str2 and print False using comparison operator

In [180]:
##REPLY Q10
str1 = 'A'
str2 = 'A'

In [204]:
#Compare str1 and str2 and print True using comparison operator
print(str1 >= str2)

True

In [185]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

True

In [187]:
#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

False

In [205]:
#Compare str1 and str2 and print False using comparison operator
print(str1 <= str2)

False

In [ ]:
###########################################################################

In [190]:
# Q11
# str1 = 'A'
# str2 = 'a'
# #Compare str1 and str2 and print True using comparison operator

# #Compare str1 and str2 and print True using equality operator

# #Compare str1 and str2 and print False using equality operator

# #Compare str1 and str2 and print False using comparison operator

In [191]:
# REPLAY Q11
str1 = 'A'
str2 = 'a'

In [206]:
#Compare str1 and str2 and print True using comparison operator
print(str1 >= str2)

True

In [195]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

True

In [196]:
#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

False

In [207]:
#Compare str1 and str2 and print False using comparison operator
print(str1 <= str2)

False

In [ ]:
##############################################################################

In [ ]:
# Q12
# str1 = 'A'
# str2 = '65'
# #Compare str1 and str2 using comparison operator and it should give below error.
# #Error: TypeError: '>=' not supported between instances of 'str' and 'int'

# #Compare str1 and str2 and print True using equality operator

# #Compare str1 and str2 and print False using equality operator

In [198]:
# REPLY Q12
str1 = 'A'
str2 = '65'

In [208]:
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'
print(str1 >= int(str2))

TypeError: '>=' not supported between instances of 'str' and 'int'

In [210]:
#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

True

In [212]:
#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

False

In [ ]:
#######################################################################

In [ ]:
# Q13
# str1 = 'Python'
# str2 = 'Python'
# #Compare str1 and str2 and print True using comparison operator

# #Compare str1 and str2 and print True using equality operator

# #Compare str1 and str2 and print False using equality operator

# #Compare str1 and str2 and print False using comparison operator

In [213]:
#REPLY Q13
str1 = 'Python'
str2 = 'Python'

In [215]:
#Compare str1 and str2 and print True using comparison operator
print(str1 >= str2)

True

In [217]:
#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

True

In [220]:
#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

False

In [227]:
#Compare str1 and str2 and print False using comparison operator
print(str1 > str2)

False

In [ ]:
#######################################################################

In [229]:
# Q14
# str1 = 'Python'
# str2 = 'python'
# #Compare str1 and str2 and print True using comparison operator

# #Compare str1 and str2 and print True using equality operator

# #Compare str1 and str2 and print False using equality operator

# #Compare str1 and str2 and print False using comparison operator

In [230]:
# REPLY Q14
str1 = 'Python'
str2 = 'python'

In [232]:
#Compare str1 and str2 and print True using comparison operator
print(str1 <= str2)

True

In [236]:
#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

True

In [237]:
#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

False

In [238]:
#Compare str1 and str2 and print False using comparison operator
print(str1 > str2)

False

In [ ]:
############################################################################

In [ ]:
# Q 15
# a = 'Python'
# b = ''

# #Apply logical opereators (and, or & not) on above string values and observe the output.
# print()
# print()
# print()
# print()
# print()

In [241]:
# REPLY 15
a = 'Python'
b = ''

In [247]:
print(a and b)

In [248]:
print(b and a)

In [243]:
print(a or b)

Python

In [253]:
print(a not b)

SyntaxError: invalid syntax (<ipython-input-253-66854a578d22>, line 1)

In [251]:
print(b not a)

SyntaxError: invalid syntax (<ipython-input-251-2440f51ca0fe>, line 1)

In [ ]:
############################################################

In [255]:
# Q16
# a = ''
# b = ''

# #Apply logical opereators (and, or & not) on above string values and observe the output.
# print()
# print()
# print()

In [257]:
# REPLY Q16
a = ''
b = ''

In [258]:
print(a and b)

In [260]:
print(a or b)

In [12]:
print(a not b)

SyntaxError: invalid syntax (<ipython-input-12-d2d4f0dac98a>, line 1)

In [ ]:
#############################################################################

In [ ]:
# Q17
# a = 'Python'
# b = 'learnbay'

# #Apply logical opereators (and, or & not) on above string values and observe the output.
# print()
# print()
# print()

In [264]:
# REPLY 17
a = 'Python'
b = 'learnbay'

In [265]:
print(a and b)

learnbay

In [266]:
print(a or b)

Python

In [269]:
print(a not b)

SyntaxError: invalid syntax (<ipython-input-269-d2d4f0dac98a>, line 1)

In [ ]:
##################################################################################

In [ ]:
# Q18
# my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# #Write the code to get the total count of 't' in above string. Use find() and index() method.
# print()
# print()

# #Write the code to get the index of '8' in my_str. Use find() and index() method.
# print()
# print()

# #What will be the output of below code?
# print(my_str.find('the'))


# print(my_str.index('the'))


# print(my_str.find('t', 9, 15))


# print(my_str.rfind('u'))


# print(my_str.rindex('u'))

In [283]:
# REPLY Q18
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(my_str.count('t'))
print(my_str.find('t'))
print(my_str.index('t'))
count = 0
for index, i in enumerate(my_str):
    if i == "t":
        count += 1
print(count)

7
2
2
7

In [285]:
#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.find('8'))
print(my_str.index('8'))

9
9

In [287]:
#What will be the output of below code?
print(my_str.find('the')) ## Error - Need to know how -1 is generated

-1

In [288]:
print(my_str.index('the')) ## Error

ValueError: substring not found

In [290]:
print(my_str.find('t', 9, 15)) ## 11

11

In [294]:
#for index, i in enumerate(my_str):
#    print (index, i)
## To Check index number
print(my_str.rfind('u')) ## 63

63

In [292]:
print(my_str.rindex('u')) ##63

63

In [ ]:
##############################################################################

In [2]:
# Q19
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

In [12]:
## REOLY Q19

i = '    Python   '
out = i.rstrip()
out = out.lstrip()
print(out)

Python

In [16]:
i = 'Python   '
out = out.rstrip()
print(out)

Python

In [17]:
i = '    Python'
out = i.lstrip()
print(out)

Python

In [ ]:
###########################################################################

In [19]:
## Q20

# my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# #Write the code to convert all alphabets in my_str into upper case.
# print()

# #Write the code to convert all alphabets in my_str into lower case.
# print()

# #Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
# print()

In [23]:
## REPLY 21
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

# #Write the code to convert all alphabets in my_str into upper case.

i = my_str.upper()
print(i)

# #Write the code to convert all alphabets in my_str into lower case.
i = my_str.lower()
print(i)

# #Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
i = my_str.swapcase()
print(i)

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [ ]:
###################################################################################

In [24]:
## Q22
#Write the code which takes one string from user and if it starts with small case letter 
#then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of 
#every word in that string into capital.

In [66]:
## REPLY Q22
i = str(input("Enter sting input: "))
if i[0] == i[0].upper():
    print(i.title())
else:
    i = i.capitalize()
    print(i)

Enter sting input: My name is jayesh rawal
My Name Is Jayesh Rawal

In [ ]:
################################################################################

In [68]:
## Q23
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

In [102]:
## REPLY Q23
#Take a string from user and check if it is:-
i = str(input("Enter string input: "))
if i.isalnum() == True:
    print('1. all value are alphanumeric')
if i.isalpha() == True:
    print('2. all value are alphabets')
if i.isdigit() == True:
    print('3. all value are digit')
if i.islower() == True:
    print('4. all letters are in lower case')
if i.isupper() == True:
    print('5. all letters are in upper case')
if i.istitle() == True:
    print('6. in title case')
if i.isspace() == True:
    print('7. a space character')
if i.isnumeric() == True:
    print('8. is numeric')
if i.isdecimal() == True:
    print('9. all number elements in string are decimal')
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

Enter string input: vbshvfgbsdjkvfbkanbwd kjazgbfkjhabfk
4. all letters are in lower case

In [ ]:
##################################################

In [101]:
## Q24
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

In [ ]:
## Reply 24
i = str(input("Enter string input: "))

In [ ]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

In [ ]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = ''
print(my_string.isascii())

my_string = ''
print(my_string.isascii())

In [ ]:
#What will be the output of below code?
firstString = "der Flu"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

In [ ]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)


#Write the code to get below output
#O/P 1:- **python (using rjust method)


#Write the code to get below output
#O/P 1:- **python** (using rjust method)

In [ ]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

In [ ]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

In [ ]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

In [ ]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

In [ ]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

In [ ]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'